<!-- index.html "homepage"-->
{% extends 'pages/base.html' %}

{% load static %}

{% block title %}Love is in the Hair - Home{% endblock %}

{% block main %} 
<br><div class = "row"></div><br>
<div class = "row">
    <h1 id="wrapper" style = "color: white">Welcome to ShoesReLife</h1>
</div>
<br><div class = "row"></div><br>
<div class = "row">
    <div class = "col-lg-2"></div>
    <div class = "col-lg-8">
        <!-- add sliding fotos on landing page-->
        <!-- tutorial followed on https://www.youtube.com/watch?v=ku_97a6Bgkg -->

        <div id="myCarousel" class="carousel slide" data-ride = "carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#myCarousel data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="5" aria-label="Slide 6"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="6" aria-label="Slide 7"></button>
            </div>
            <div class = "carousel-inner">
                <div class = "carousel-item active" > <!-- first slide set to active -->
                    <div class="overlay-image" style = "background-image: url('static/pages/slides/domino-164_6wVEHfI-unsplash.jpg');"></div>
                    <div class = "container">
                        <h1>ShoesReLife</h1>
                        <p>Streetwear For All Ages</p>
                    </div>
                </div>
                <div class = "carousel-item"> <!-- second slide -->
                    <div class="overlay-image" style = "background-image: url('static/pages/slides/imani-bahati-LxVxPA1LOVM-unsplash.jpg');"></div>
                    <div class = "container">
                        <h1>ShoesReLife</h1>
                        <p>Streetwear For All Ages</p>
                    </div>
                </div>
                <div class = "carousel-item"> <!-- third slide -->
                    <div class="overlay-image" style = "background-image: url('static/pages/slides/kris-gerhard-0BKZfcamvGg-unsplash.jpg');"></div>
                    <div class = "container">
                        <h1>ShoesReLife</h1>
                        <p>Streetwear For All Ages</p>
                    </div>
                </div>
                <div class = "carousel-item"> <!-- fourth slide -->
                    <div class="overlay-image" style = "background-image: url('static/pages/slides/paul-gaudriault-a-QH9MAAVNI-unsplash.jpg');"></div>
                    <div class = "container">
                        <h1>ShoesReLife</h1>
                        <p>Streetwear For All Ages</p>
                    </div>
                </div>
                <div class = "carousel-item"> <!-- fifth slide -->
                    <div class="overlay-image" style = "background-image: url('static/pages/slides/ryan-plomp-jvoZ-Aux9aw-unsplash.jpg');"></div>
                    <div class = "container">
                        <h1>ShoesReLife</h1>
                        <p>Streetwear For All Ages</p>
                    </div>
                </div>
                <div class = "carousel-item"> <!-- sixth slide -->
                    <div class="overlay-image" style = "background-image: url('static/pages/slides/the-dk-photography-NUoPWImmjCU-unsplash.jpg');"></div>
                    <div class = "container">
                        <h1>ShoesReLife</h1>
                        <p>Streetwear For All Ages</p>
                    </div>
                </div>
                <div class = "carousel-item"> <!-- seventh slide -->
                    <div class="overlay-image" style = "background-image: url('static/pages/slides/usama-akram-kP6knT7tjn4-unsplash.jpg');"></div>
                    <div class = "container">
                        <h1>ShoesReLife</h1>
                        <p>Streetwear For All Ages</p>
                    </div>
                </div>
            </div>
            <a href = "#myCarousel" class="carousel-control-prev" role = "button" data-slide = "prev">
                <span class="sr-only"></span>
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a href = "#myCarousel" class="carousel-control-next" role = "button" data-slide = "next">
                <span class="sr-only"></span>
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
        </div>
        


    </div>
    <div class = "col-lg-2"></div>
</div>
<br>
<div class = "row"></div>
<br>
<div class = "row"></div>

{% endblock %}
